language: rust
rust:
  - nightly
os:
  - linux
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: 'dist'
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master